Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed to enable efficient access, storage, retrieval, and manipulation of data.

SQL databases (relational databases) and NoSQL databases (non-relational databases) differ in their data structure, schema, query language, transaction model, and scalability characteristics

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of database objects such as tables, indexes, views, and schemas.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50)
);

DROP TABLE employees;

ALTER TABLE employees
ADD COLUMN salary DECIMAL(10, 2);

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language

INSERT INTO employees (id, name, age, department)
VALUES (1, 'John Doe', 30, 'Marketing');

UPDATE employees
SET age = 35, department = 'Sales'
WHERE id = 1;

DELETE FROM employees
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from database tables.

SELECT * FROM employees;

Q5. Explain Primary Key and Foreign Key.

A primary key in one table serves as the reference point for establishing relationships with other tables.

A foreign key in another table references the primary key in the related table, creating a link between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
mycursor = mydb.cursor()

# Example of executing SQL queries
try:
    # Execute SQL query to create a table
    mycursor.execute("CREATE TABLE IF NOT EXISTS customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255))")

    # Execute SQL query to insert data into the table
    sql = "INSERT INTO customers (name, email) VALUES (%s, %s)"
    val = ("John Doe", "john@example.com")
    mycursor.execute(sql, val)
    mydb.commit()  # Commit changes to the database

    # Execute SQL query to retrieve data from the table
    mycursor.execute("SELECT * FROM customers")
    result = mycursor.fetchall()  # Fetch all rows from the result set
    for row in result:
        print(row)

except mysql.connector.Error as error:
    print("Error executing SQL statement:", error)

# Close the cursor and database connection
mycursor.close()
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT / OFFSET